#about {
    padding: 80px 0;
    color: #ababab;
  
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .about-col-1 {
        flex-basis: 35%;
  
        img {
          width: 100%;
          border-radius: 15px;
        }
      }
  
      .about-col-2 {
        flex-basis: 60%;
  
        p {
          font-size: 22px;
        }
      }
    }
  }
  
  .sub-title {
    font-size: 60px;
    font-weight: 600;
    color:  #712C91;
  }
  
  .tab-titles {
    display: flex;
    margin: 20px 0 40px;
  
    .tab-links {
      margin: 0 0 0 50px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      position: relative;
  
      &::after {
        content: '';
        width: 0;
        height: 3px;
        background:  #712C91;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
      }
  
      &.active-link::after {
        width: 50%;
      }
    }
  }
  
  .tab-contents {
    ul li {
      list-style: none;
      margin: 10px 0;
      font-size: 18px;
  
      span {
        color:  #794293;
        font-size: 22px;
      }
    }
  
    display: none;
  
    &.active-tab {
      display: block;
    }
  }
  