
#certificate {
  padding: 50px 0;

  .certificate-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

    .certificate {
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
        height: 100%;
      }

      .layer {
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #712C91);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;

        h3 {
          font-weight: 500;
          margin-bottom: 20px;
        }
      }

      &:hover img {
        transform: scale(1.1);
      }

      &:hover .layer {
        height: 100%;
      }
    }
  }

  .btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid  #712C91;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: background 0.5s;

    &:hover {
      background:  #712C91;
    }
  }

  .accordion {
    display: flex;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid  #712C91;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: background 0.5s;
    background: #080808;

    &.active,
    &:hover {
      background:  #712C91;
    }

    &::after {
      content: "See more";
      transition: 0.5s ease;
    }

    &.active::after {
      content: "See less";
      transition: 0.5s ease;
    }
  
}
}
